html, body {
    background:url(imgs/stripes.png);
    color: #222222;
    margin:0;
    padding:0;
    font-family:Georgia, "Times New Roman", Times, serif;
}

hr {
    height:5px;
    background:#bbbbff;
    border:none;
    margin:35px 0 35px 0;
}

p {
    font-size:15px;
    line-height:1.75em;    
    text-align:center;
}

a { color:#2A00FF; text-decoration:none; }
a:hover { color:#2A7FFF; text-decoration:underline; }

.bg {
    background:#eeeeff;
}

.text-center {
    text-align:center;    
}

.teaser {
    height: 30px;
    background: #000 url(imgs/piyi.png) center bottom repeat;
}

.header {
    height: 392px;
    background: #000000;
}

.banner {
    height: 360px;
    background: #ffddff url(imgs/banner.jpg) center top no-repeat;
    width: 100%;
    box-shadow:0px 0px 25px #000;
}

.content {
    width:40em;
    margin:auto;
    background:url(imgs/rainbow.png) center;
}

.small {
    font-size:12px;
}

.container {
    height:auto;
    padding:2em;
    background: #ddddff;
    font-size: 16px;
    margin:50px 0 50px 0;    
    border-radius:15px;
    -o-border-radius:15px;
    -ms-border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border:2px groove #bbbbff;
    box-shadow:0px 0px 15px #8888ff;
}

.bigl {
    font-family: 'Neuton', serif;
    font-size: 1.7em;
    font-weight:bold;
    margin-top:-15px;
}

.bigr {
    font-family: 'Neuton', serif;
    font-size: 2.5em;
    font-weight:bolder;
    text-align:right;
    margin-bottom:-10px;
}

h1 {
    font-family: 'Neuton', serif;
    font-size: 2em;
    text-align: center;
    margin:-10px 0 15px 0;
}

.buttonbox {
    font-family: 'Neuton', serif;
    font-weight:bolder;
    padding: 1.25em;
    text-align: center;
}

.button {
    font-size: 2em;
    background:url(imgs/flimflam.jpg);
    padding: 0.5em;
    text-decoration: none;
    color:#000;
    border-radius:15px;
    -o-border-radius:15px;
    -ms-border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border:2px outset #bbbbff;
}

.button:hover {
    background: #9999ff;
    color:#000;
    border:2px inset #bbbbff;
}

.bordered {
    border: 1px dashed #8888ff;
    padding:1.7em;    
}

.so {
    text-decoration: line-through;
}

.block {
    font-size:12px;
    margin:auto auto;
    line-height:1.75em;
    max-width:30em;    
}

.addthis_toolbox {
    width: 475px;
    margin: 0 auto;
}
